<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> Page contact</title>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
		<link rel="stylesheet" type="text/css" href="css/contact.css">


</head>
<body>
        <div class="wrapper">

        	<div class="nav">

        		<div class="left">
        			<ul>
        				 <li> <a href="/home">HOME</a></li>
        				 <li> <a href="/rent">RENT</a></li>
						 <li> <a href="/sales">SALES</a></li>
						 <li> <a href="/contacts">CONTACT</a></li>
        			</ul>
        			 </div>
	
                     	<div class="right">
        			<ul>
        				 <li> <a href="/login">Log In</a></li>
        				 <li> <a href="/register">Sign In</a></li>
        				 
        			</ul>
        			 </div>


           </div>
            <div class="header">
            	<h1>Contact Us</h1>
            	<p>
            		Please note that our chatbot cannot provide detailed information regarding your order, membership account, and the products we offer.
            	</p>
            
            </div>

           <div class="form">
                <form>
                	<input type="text" placeholder="Name"/>
                	<input type="text" placeholder="E-mail"/>
                	<input type="text" id="msg" placeholder="Message"/>
                </form>
                  <button type=""button>Let's Talk </button>



           	
           </div>





       </div>


</body>
</html>