<!DOCTYPE html>
<html>
<head>
    <title>House Rental</title>
<link rel="stylesheet" type="text/css" href="css/css-tri.css">
</head>
<body>
    <div class="right">
        <ul>
             <li> <a href="/login">Log In</a></li>
             <li> <a href="/register">Sign In</a></li>
        </ul>
    </div>
    <header>
        <!-- Logo -->
        <center>
        <div>
            <div id="Logo">
                <img src="image/Logo2.png">
            </div>
            <div>
                <h2 id="h2Titre"><span>COMMITED TO SERVE YOU</span></h2>
            </div>
        </div>
        </center>
        <!-- Onglets de login  -->
        <div id="titre">
            <ul id="ul1">
                 <li><a href="/home">HOME</a></li>
                <li><a href="/rent">RENT</a></li>
                <li><a href="/sales">SALES</a></li>
                <li><a href="/contacts">CONTACT</a></li>
            </ul>  
        </div><br><br><!-- <br><br><br><br><br> --><hr>
        <!-- Onglets de page -->
        <div id="page-defil">

            <center><h1 id="h2Titre"><u id="h2Titre">the most popular desire</u></h1></center>
             </br> </br>
                                          
  <div class="boxup">
      
    <img src="image/house2.jpg" height="200px">
    <img src="image/house3.jpg">
     

 
       
      
  </div>
                     
    </header><hr><br><br><br>

    <!-- Tableau des produits -->
       <div><font size="30"><center><b>HOUSES</b></center></font></div>
                 <br></br>
                 <center><div class="underline"></div></center>
                 <br></br>
 


  <div class="box">
      
    <img src="image/house1.jpg" style="border-radius:10px;" >
   <p class="imageflo">
       <br> Location: Oledzoa, Yaounde
       <br>size: 75m²
       <br>number of rooms: 5
       <br>Contact:698421877 
       <br>Comment:Spacious with running water, and internal toilet situated at 50m away from the simbock round about. 


   </p>   
  </div>

 <div class="box">
      
<img src="image/house2.jpg" style="border-radius:10px;">
       <p class="imageflo">
      <br> Location: simbock, Yaounde
       <br>size: 75m²
       <br>number of rooms: 5
       <br>Contact:698421877
       <br>Comment:Spacious with running water, and internal toilet situated at 50m away from the simbock round about. 

   </p> 
  </div>



 <div class="box">
      
      <img src="image/house3.jpg" style="border-radius:10px;">
       <p class="imageflo">
      <br> Location: damas, Yaounde
       <br>size: 155m²
       <br>number of rooms: 7
       <br>Contact:677421920 
       <br>Comment:Spacious with running water, and internal toilet situated at 50m away from the simbock round about. 

   </p> 
  </div>



 <div class="box">
      
      <img src="image/house4.jpg" style="border-radius:10px;">
       <p class="imageflo">
       <br> Location: Yasa, Douala
       <br>size: 65m²
       <br>number of rooms: 4
       <br>Contact:656424359 
       <br>Comment:Spacious with running water, and internal toilet situated at 50m away from the simbock round about. 
   </p> 
  </div>

























    <!-- footer -->

 <div class="footer">
     <div class="inner-footer">

         <div class="footer-items">

               <h1>About Us</h1>
                <p>Rental is an opened platform designed to help people</p>
                  </div>

              


              <div class="footer-items">

                  <h2>Menu</h2>
                 <div class="border"></div>
                 <ul class="igi">
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/rent">RENT</a></li>
                    <li><a href="/sales">SALES</a></li>
                    <li><a href="/contacts">CONTACT</a></li>
                 </ul>
                  </div>



                   <div class="footer-items">

               <h2>Customer services</h2>
                 <div class="border"></div>
                 <ul class="igi">
                    <li><a href="#">Terms & conditions</a></li>
                    <li><a href="#">Faqs</a></li>
                    <li><a href="#">Contact</a></li>                 
                 </ul>

                  </div>



                   <div class="footer-items">

               <h2>My Account</h2>
                 <div class="border"></div>
                 <ul class="igi">
                    <a href="/login"><li>Login</li></a>
                    <a href="/register"><li>Register</li></a>
                    
                 </ul>


                  </div>
                  
                 
                 <ul class=igi>
         <li><i class="fa fa-home" aria-hidden="true"></i><a href="#"> Saint jean, Yaounde Cameroon</a></li>
        <li><i class="fa fa-phone" aria-hidden="true"></i><a href="#"> +237 697465044</a></li>
        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">rental@gmail.com</a></li>
        
                 </ul>
            </div>
            </div>

           
    <div class="footer-bottom">
         2019 RENTAL. All Rights Reserved | Designed by Group 11
    </div>
        
</body>
</html>