<!DOCTYPE html>
<html>
<head>
    <title>House Rental</title>
    <link rel="stylesheet" type="text/css" href="css/css-sales.css">
    <script src="../apps.js"></script>

</head>
<body>
    <div class="right">
            <ul>
                 <li> <a href="/login">Log In</a></li>
                 <li> <a href="/register">Sign In</a></li>
            </ul>
        </div><br><br>
    <header>
        <!-- Logo -->
        
        <center>
        <div>
            <div id="Logo">
                <img src="../image/Logo2.png">
            </div>
            <div>
                <h2 id="h2Titre"><span>COMMITED TO SERVE YOU</span></h2>
            </div>
        </div>
        </center>
        <!-- Onglets de login  -->
        <div id="titre">
            <ul id="ul1">
                <a href="/home"><li>HOME</li></a>
                <a href="/rent"><li>RENT</li></a>
                <a href="/sales"><li>SALES</li></a>
                <a href="/contacts"><li>CONTACT US</li></a>
            </ul>  
        </div><br><br><!-- <br><br><br><br><br> --><hr>
        <!-- Onglets de page -->
        <div id="page-defil">

            <center><h1 id="h2Titre"><u id="h2Titre">TABLE OF SALES</u></h1></center>

                <div class="post-slide">

                    <div class="slide-defil">
                       <div class="post"><img src="../image/house16.jpg" alt=""></div>
                       <div class="post"><img src="../image/house17.jpg" alt=""></div>
                       <div class="post"><img src="../image/house18.jpg" alt=""></div>
                       <!-- <div class="post">4</div>
                       <div class="post">5</div> -->
                    </div>   
                </div>

        </div>
    </header><hr><br><br><br>

    <!-- Tableau des produits -->
        <center><h1 id="h2Titre"><u id="h2Titre">LIST OF HOUSE</u></h1></center>
    <div class="cadre">
        <div class="cadre1" class="image">
             
            <div class="produit"><img src="../image/house1.jpg" alt="">1</div>
            <div class="produit"><img src="../image/house2.jpg" alt="">2</div>
            <div class="produit"><img src="../image/house3.jpg" alt="">3</div>
          
        </div>  
        <div class="cadre2" class="image">
            <div class="produit"><img src="../image/house4.jpg" alt="" >4</div>
            <div class="produit"><img src="../image/house5.jpg" alt="" >5</div>
            <div class="produit"><img src="../image/house6.jpg" alt="" >6</div>
        </div>  
        <div class="cadre3" class="image">    
            <div class="produit"><img src="image/house7.jpg" alt="" >7</div>
            <div class="produit"><img src="image/house8.jpg" alt="" >8</div>
            <div class="produit"><img src="image/house9.jpg" alt="" >9</div>    
        </div> 
        <div class="cadre4" class="image">    
            <div class="produit"><img src="image/house10.jpg" alt="" >10</div>
            <div class="produit"><img src="image/house11.jpg" alt="" >11</div>
            <div class="produit"><img src="image/house12.jpg" alt="" >12</div>    
        </div>
        


    </div><br><br>

    <!-- Bas de page -->

    <div class="footer">
        <div class="inner-footer">
  
             <div class="footer-items">
  
                 <h1>About Us</h1>
                  <p>Rental is an opened platform designed to help people</p>
                    </div>
  
                
  
  
                <div class="footer-items">
  
                    <h2>Menu</h2>
                   <div class="border"></div>
                   <ul class="igi">
                       <li><a href="/home">HOME</a></li>
                       <li><a href="/rent">RENT</a></li>
                       <li><a href="sales">SALES</a></li>
                       <li><a href="/contacts">CONTACT</a></li>
                   </ul>
                    </div>
  
  
  
                     <div class="footer-items">
  
                 <h2>Customer services</h2>
                   <div class="border"></div>
                   <ul class="igi">
                       <li><a href="#">Terms & conditions</a></li>
                       <li><a href="#">Faqs</a></li>
                       <li><a href="#">Contact</a></li>                	
                   </ul>
  
                    </div>
  
  
  
                     <div class="footer-items">
  
                 <h2>My Account</h2>
                   <div class="border"></div>
                   <ul class="igi">
                       <a href="/login"><li>Login</li></a>
                       <a href="/register"><li>Register</li></a>
                       
                   </ul>
  
  
                    </div>
                    
                   
                   <ul class=igi>
           <li><i class="fa fa-home" aria-hidden="true"></i><a href="#"> Saint jean, Yaounde Cameroon</a></li>
          <li><i class="fa fa-phone" aria-hidden="true"></i><a href="#"> +237 697465044</a></li>
          <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">rental@gmail.com</a></li>
            
                   </ul>
              </div>
    </div>
  
             
      <div class="footer-bottom">
           2019 RENTAL. All Rights Reserved | Designed by Group 11
      </div>
        
</body>
</html>